.footer-menu-primary ul.menu-primary {
   @apply flex flex-col gap-0 divide-y divide-gray-200 items-start flex-wrap;
}

.footer-menu-primary .menu-primary li {
   @apply w-full;
}

@media(max-width:1024px) {
   .footer-menu-primary .menu-primary li {
      @apply justify-center;
   }
}

.footer-menu-primary .menu-primary li a {
   @apply text-sm hover:text-blue-400 transition-all !py-2;
}

.subfooter-menu-primary ul.menu-primary {
   @apply flex gap-4 2xl:gap-6 items-center flex-wrap;
}

.subfooter-menu-primary ul.menu-primary li a {
   @apply text-sm hover:text-blue-400 transition-all py-0;
}

ul.menu-primary {
   @apply flex gap-x-4 2xl:gap-x-6 items-center flex-wrap;
}

.menu-primary:not(.sub-menu) li a {
   @apply py-2 block;
}

.menu-primary li a {
   @apply text-gray-800 font-medium text-sm hover:text-blue-400 transition-all;
}

.menu-item {
   @apply relative flex gap-1 items-center;
}

.menu-item.current-menu-item>a {
   @apply text-black font-bold;
}

.sub-menu {
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   @apply text-gray-800 top-full left-0 min-w-[12.5rem] absolute hidden bg-gray-200 divide-y divide-gray-100 z-50;
}

.sub-menu,
.sub-menu .menu-item {
   transition: background-color 0.3s;
}

.sub-menu .menu-item {
   @apply px-4;
}

.menu-item:hover>.sub-menu {
   display: block;
}

.sub-menu .menu-item>.sub-menu {
   top: 0;
   left: 100%;
}

.sub-menu .menu-item:hover>.sub-menu {
   display: block;
}

.sub-menu .menu-item:hover {
   @apply bg-gray-100;
}

.sub-menu .menu-item:hover a {
   @apply text-gray-800;
}

.menu-item.menu-item-has-children::after {
   content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%231F2937" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/></svg>');
   display: inline-block;
   width: 1em;
   height: auto;
   vertical-align: middle;
   padding-top: 5px;
}

ul .menu-item.menu-item-has-children:hover::after {
   content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%2360A5FA" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/></svg>');
}

ul.sub-menu .menu-item.menu-item-has-children::after {
   @apply -rotate-90 translate-y-1 ml-auto;
}

ul.sub-menu .menu-item.menu-item-has-children:hover::after {
   content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%2360A5FA" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/></svg>');
}

@media(max-width:1024px) {
   header .menu-primary-container {
      @apply fixed h-full w-full left-auto top-0 bottom-0 right-0 z-[9999] max-w-[100vw] overflow-hidden py-16;
   }

   header .menu-primary-container ul.menu-primary {
      @apply flex-col items-center;
   }

   header .menu-primary-container ul.menu-primary .menu-item {
      @apply justify-center w-full;
   }

   header .menu-primary-container ul.menu-primary .menu-item.menu-item-has-children {
      @apply flex-wrap justify-center px-0;
   }

   header .menu-primary-container ul.menu-primary .menu-item.menu-item-has-children a {
      @apply order-1;
   }

   header .menu-primary-container ul.menu-primary .sub-menu {
      flex: 0 0 100%;
      @apply relative order-3 w-full;
   }

   header .menu-primary-container ul.menu-primary .menu-item.menu-item-has-children::after {
      @apply order-2;
   }

   header .menu-primary-container ul.menu-primary .sub-menu .menu-item>.sub-menu {
      left: 0;

   }

   header .menu-primary-container ul.menu-primary .sub-menu .menu-item.menu-item-has-children>.sub-menu .menu-item {
      @apply bg-yellow-900 bg-opacity-60;
   }
}
