body {
   @apply font-primary;
}

body a {
   transition: color ease 0.3s;
   @apply hover:text-red-500;
}

/* Estilo padrão para inputs */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="url"],
input[type="search"],
input[type="button"],
input[type="reset"] {
   @apply border border-gray-300 p-2 focus:outline-none max-w-full;
}

/* Estilo para textarea */
textarea {
   @apply border border-gray-300 p-2 focus:outline-none max-w-full;
}

/* Estilo para select */
select {
   @apply border border-gray-300 p-2 focus:outline-none max-w-full;
}

input[type="checkbox"] {
   @apply m-2;
}

/* Estilo para Radio */
input[type="radio"] {
   @apply m-2;
}

/* Estilo para Submit */
input[type="submit"] {
   @apply bg-gray-800 text-white font-bold py-2 px-4 rounded max-w-full;
}

.entry-content p {
   @apply mb-4 text-base;
}

.entry-content strong,
.entry-content b {
   @apply font-bold;
}

.entry-content a {
   @apply text-blue-600 hover:underline;
}

@media(max-width:1024px) {
   .entry-content a {
      @apply break-all;
   }
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
   @apply font-bold;
}


/* Estilize os diferentes níveis de títulos */
.entry-content h1 {
   @apply text-4xl;
   /* Tamanho de fonte para h1 */
}

.entry-content h2 {
   @apply text-3xl;
   /* Tamanho de fonte para h2 */
}

.entry-content h3 {
   @apply text-2xl;
   /* Tamanho de fonte para h3 */
}

.entry-content h4 {
   @apply text-xl;
   /* Tamanho de fonte para h4 */
}

.entry-content h5 {
   @apply text-lg;
   /* Tamanho de fonte para h5 */
}

.entry-content h6 {
   @apply text-base;
   /* Tamanho de fonte para h6 */
}


/* Estilize classes padrões do Gutenberg */

/* Parágrafos */
.has-default-background-color p {
   @apply bg-blue-100 p-4 my-4;
}

/* Títulos */
.has-default-background-color h1,
.has-default-background-color h2,
.has-default-background-color h3,
.has-default-background-color h4,
.has-default-background-color h5,
.has-default-background-color h6 {
   @apply font-bold mb-2;
}

/* Listas */
.has-default-background-color ul,
.has-default-background-color ol {
   @apply list-disc ml-6 mb-4;
}

/* Itens de lista */
.has-default-background-color li {
   @apply mb-2;
}

/* Links */
.has-default-background-color a {
   @apply text-blue-500;
}

/* Citações */
.has-default-background-color blockquote {
   @apply border-l-4 border-blue-500 p-4 my-4;
}

/* Imagens */
.has-default-background-color img {
   @apply mx-auto my-4;
}

/* Notas */
.has-default-background-color .wp-block-note {
   @apply bg-yellow-100 border-l-4 border-red-500 p-4 my-4;
}

/* Código */
.has-default-background-color pre {
   @apply bg-gray-100 p-4 my-4;
}

/* Texto pré-formatado */
.has-default-background-color pre code {
   @apply whitespace-pre-line;
}

/* Divisores */
.has-default-background-color hr {
   @apply border-b my-4;
}

.entry-content .alignleft {
   display: inline;
   float: left;
   margin-right: 1.875rem;
}

.entry-content .alignright {
   display: inline;
   float: right;
   margin-left: 1.875rem;
}

.entry-content .aligncenter {
   clear: both;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

img {
   display: initial;
}
