.swiper {
   width: 100%;
   height: 100%;
}

.swiper {
   width: 100%;
   height: 300px;
   margin-left: auto;
   margin-right: auto;
}

.swiper-slide {
   background-size: cover;
   background-position: center;
}

.homeSlider2 {
   /* height: 80%; */
   height: fit-content;
   width: 100%;
}

.homeSlider {
   /* height: 20%; */
   height: fit-content;
   box-sizing: border-box;
   padding: 10px 0;
}

.homeSlider .swiper-slide {
   width: 25%;
   height: 100%;
   opacity: 0.4;
   cursor: pointer;
}

.homeSlider .swiper-slide-thumb-active {
   opacity: 1;
}


.swiper-button-next {
   right: 0;
   left: auto;
   height: 3.125rem;
   width: 3.125rem;
   bottom: 3.125rem;
   background-color: white;
   color: black;
   top: auto;
}

.swiper-button-prev {
   right: 0;
   left: auto;
   height: 3.125rem;
   width: 3.125rem;
   bottom: 0;
   background-color: white;
   color: black;
   top: auto;
}

.swiper-button-next,
.swiper-button-prev {
   @apply transition-all;
}

@media(max-width:1024px) {
   .swiper-button-next {
      bottom: 2rem;
      height: 2rem;
      width: 2rem;
   }

   .swiper-button-prev {
      height: 2rem;
      width: 2rem;
   }
}

.swiper-button-next:hover,
.swiper-button-prev:hover,
.swiper-button-next:focus,
.swiper-button-prev:focus {
   @apply bg-gray-300;
}

.swiper-button-prev::after,
.swiper-button-next::after {
   font-size: 24px;
}
